
* {
    box-sizing: border-box;

}
@media print {
    body {
        background-color: rgb(202, 202, 202)!important;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}
.wrapper {
    width: 816px;
    border: 1px dashed red;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #00366A;
    margin: 0;
    padding: 0;
}

table,
th,
td {
    /* border: 1px solid black; */
}

#logo {
    width: 10%;
    border: 1px solid black;
}

#logo img {
    width: 100%;
    height: 100px;
}

#logo2 {
    border: 1px solid black;
    width: 15%;
    padding: 0;
}

#logo2 #p1 {
    font-weight: 600;
    font-size: 22px;
    background-color: black;
    color: yellow;
}

#logo2 #p2 {
    font-size: 32px;
    margin-top: -10px;
    font-weight: 500;

}

#logo2 #p3 {
    font-size: 18px;
    color: white;
    margin-top: -12px;
    font-weight: 500;
}

#logo2 #p4 {
    font-size: 8px;
    color: yellow;
    font-weight: 500;
    background-color: black;
}

#icons {
    padding-left: 10px;
    font-size: 14px;
    color: white;
}

#title {
    font-size: 32px;
    font-weight: 700;
    text-align: right;

}

#title h1 {
    color: yellow;
}

.date {
    text-align: right;
}

.date #d {
    font-weight: 700;
    margin-left: 15px;
}

/* section 2 */
#section-2{
    /* border: 1px solid red; */
}
#s-2-a {
    float: left; /* Float both divs to the left */
    width: 65%; /* Each div takes up 50% of the parent container */
    border: 1px solid black;
}
#s-2-b {
    float: left; /* Float both divs to the left */
    width: 35%; /* Each div takes up 50% of the parent container */
    border: 1px solid black;
}
#s-title{
    text-align: center;
    background-color: rgba(0, 162, 255, 0.925);
    padding: 5px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}

#ad-1, #ad-2, #ad-3, #ad-4 {
    float: left; /* Float both divs to the left */
    width: 65%; /* Each div takes up 50% of the parent container */
    padding: 20px;
    background-color: rgb(202, 202, 202);
}
#ad-1{
    width: 35% !important;
    text-align: center;
    font-weight: 700;
    color: white;
}
#ad-2{
    font-weight: 700; 
}
#ad-4{
    font-weight: 700; 
}
#ad-3{
    width: 35% !important;
    height: 137px;
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
    color: white;
}

/* #s-2-a .ad-content-gray{
    background-color: white;
} */
#s-2-a .ad-content{
    background-color: white;
}

#s2-icons{
    border: 1px solid red;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}
.s2-content{
    border: 1px solid red;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
    color: rgba(0, 162, 255, 0.925);
}

.s2-content #content-right{
    padding-left: 10px;
    font-weight: 700;
    color: black !important;
}
#pob{
    background-color: rgb(199, 197, 197);
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    padding: 5px;
}
#br{
    background-color: rgb(199, 197, 197);
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    color: rgb(6, 115, 165);
}


/* section 3 */
.s3, .s3 {
    float: left; /* Float both divs to the left */
    width: 50%; /* Each div takes up 50% of the parent container */
    /* border: 1px solid black; */
    margin-top: 10px;
}

.s3 h1{
    color: rgb(7, 150, 245);
    font-weight: 700;
    font-size: 24px;

}
#bps{
    width: 100%;
}
#bps, th, td {
    border: 1px solid black;
    padding: 5px;
}

/* section 4 */

.s4{
    float: left; /* Float both divs to the left */
    width: 100%; /* Each div takes up 50% of the parent container */
    /* border: 1px solid black; */
    margin-top: 10px;
    
}

.s4 h1{
    width: 40%; /* Each div takes up 50% of the parent container */
    background-color: rgba(0, 162, 255, 0.925); 
    padding: 5px;
    color: white;
    text-align: center;
}

.s4 ul{
    font-weight: 600;
    color: rgb(54, 54, 54);
    border: 1px solid rgba(0, 162, 255, 0.925);
}

/* section 5 */
.s5{
    float: left; /* Float both divs to the left */
    width: 100%; /* Each div takes up 50% of the parent container */
    /* border: 1px solid black; */
    margin-top: 10px; 
    background-color: rgb(199, 197, 197);
    color: white;
    padding: 10px;
}

#s6table, th, td {
    border: 1px solid black;
    padding: 5px;
}